{% extends "library_website/base.html" %}
{% load restrict_access%}
{% load crispy_forms_tags %}
{% block content %}
    
    	<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		    	<div class ="flex-container">
		    		<img class="bookdetail-img" src=" {{book.image.url}}">
				      <h1> {{ book.title }}</h1>
		    	</div>
		    	<br/>
		    	<p><strong>Author:</strong> {{ book.author }}</p> <!-- author detail link not yet defined -->
			    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
			    <p><strong>Year of Publication:</strong> {{ book.year_of_publication }}</p>
			    <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
			    {% if comments.count == 0 %}
			    	<p><strong> Reviews: </strong> No reviews yet.</p>
			    {% else %}
			    	<p><strong>{{comments.count}} Reviews: </strong></p>
			    	{% for comment in comments %} 
				        <div class="comments" style="padding: 10px;">
				          <p class="font-weight-bold">
				          	 <img class="comments-img" src=" {{comment.user.profile.image.url}}"> 
				            {{ comment.user }}
				            <span class=" text-muted font-weight-normal">
				              {{ comment.created_on }}
				              {% if comment.user == request.user %}
				              	 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'library-edit_comment' comment.id %}"> Edit </a>
					  			 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'library-delete_comment' comment.id %}"> Delete </a>
				              {% endif%}
				            </span>
				          </p>
				          {{ comment.comment | linebreaks }}
				        </div>
			        {% endfor %}
			    {% endif %}
			    

			    {% if user.is_authenticated and request.user|has_group:"Student/Teacher" %}
			        <div class="col-md-8 card mb-4  mt-3 ">
				        <h3>Leave a comment</h3>
				        <form method="POST" style="margin-top: 1.4em;">
				          {% csrf_token %}
				          {{ comment_form|crispy }}
				          <div class="text-right">
				          	 <button type="submit" class="btn btn-primary">Submit</button>
				          </div>
				        </form>
				    </div>
		        <br/>
		        {% endif%}	
		 
		     <h4>Copies</h4>
		    {% for copy in book.bookinstance_set.all %}
			      <hr>
			      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
			        {{ copy.get_status_display }}
			        {% if user.is_authenticated and request.user|has_group:"BookManager" %}
				      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'library-update_bookInstance' copy.id %}"> Update </a>
					  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'library-delete_bookInstance' copy.id %}"> Delete </a>
			  	  {% endif %}
			      </p>
			      {% if copy.status != 'a' %}
			        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
			      	<p><strong>Borrower:</strong> {{copy.borrower}}
			      {% endif %}
			      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
			      {% if user.is_authenticated and request.user|has_group:"BookManager" %}
			      	<p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
			      {% endif %}
			      {% if copy.status == 'a' and user.is_authenticated and request.user|has_group:"Student/Teacher" %}
					      <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'library-borrow_book' copy.id %}"> Borrow this book </a>
				  {% elif copy.status == 'r' and user.is_authenticated and request.user|has_group:"Student/Teacher" and copy.borrower == request.user%}
				  		  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'library-return_book' copy.id %}"> Return this book </a>
				  {% endif %}
			{% endfor %}
		  </div>
		  {% if user.is_authenticated and request.user|has_group:"BookManager" %}
		  	 <div class="text-right">
		        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'library-create_bookInstance' %}"> Add a Copy </a>
		     </div>
		  {% endif %}
		</article>
{% endblock content %}