{% extends "library_website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="content-section"> 
		<form action ="" method ="POST">
			{% csrf_token%}
			<fieldset class ="form-group">
				<legend class = "border-bottom mb-4">Create a Book Instance</legend>
				<p> Make a copy of the book you just created. </p>
				{{book_instance|crispy}}
			</fieldset>
			<div class="text-right">
			<button class="btn btn-outline-info" type="submit"> Create </a>
		</div>

		</form>
	</div>

{% endblock content %}