{% extends "library_website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2> Are you sure you want your comment in the book {{commentBook}} ?</h2>
</br>
<h4> You wrote: "{{commentContent}}"" </h4>

<h6> Written on : {{commentCreatedOn}} </h6>

	<div class="content-section"> 
		<form action ="" method ="POST">
			{% csrf_token%}
			
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'library-home' %}"> Cancel </a>
			
			<button class="btn btn-danger btn-sm mt-1 mb-1" type="submit"> Delete</button>
		</div>

		</form>
	</div>
{% endblock content %}