{% extends "library_website/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="content-section">
    	<div class = "media">
    		<img class ="rounded-circle account-img" src="{{ user.profile.image.url }}">
    		<div class ="media-body">
    			<h2 class="account-heading">{{ user.first_name}} {{ user.last_name }} </h2>
    			<p class="text-secondary">{{ user.email }}</p>
    		</div>	
    	</div>

        <h2>Borrowed Books</h2>
        {% if bookinstance_list %}
            <ul>
              {% for bookinst in bookinstance_list %} 
              <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                <p><strong> {{bookinst.book.title}} </strong>(<strong>Due Date: </strong> {{ bookinst.due_back }}) </p>        
              </li>
              {% endfor %}
              <br/>
            </ul>
        {% else %}
          <p>There are no books borrowed.</p>
        {% endif %}


        <h2> Reviews Written</h2>
        {% if comment_list %}
            <ul>
              {% for commentinst in comment_list %} 
              <li>
                <p><strong> {{commentinst.book.title}} </strong></p> 
                <p> Review: {{commentinst.comment}} </p>
                <p> Written on: {{commentinst.created_on}}</p>       
              </li>
              {% endfor %}
              <br/>
            </ul>
        {% else %}
          <p>You have not yet written any reviews on a book.</p>
        {% endif %}


        <h2> History of All Borrowed Books </h2>
        {% if history_list %}
            <ul>
              {% for historyiterator in history_list %}  
                  <li>
                    <p><strong> {{historyiterator.book.title}} </strong></p>
                  </li>
              {% endfor %}
              <br/>
            </ul>
        {% else %}
          <p>There are no books borrowed yet.</p>
        {% endif %}
        <br/> 

    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		<fieldset class ="form-group">
    			<legend class ="border-bottom mb-4">Profile Info</legend>
    			{{ u_form|crispy }}
    			{{ p_form|crispy }}
    		</fieldset>
    		<div class="text-right">
    			<button class="btn btn-outline-info" type="submit"> Update </button>
    		</div>
    	</form>
    </div>
    <div class ="content-section">
        <h4> Manually Reset Your Password </h4>
         <a href="{% url 'password_reset' %}">
            <button class="btn btn-secondary" type="submit"> Reset </button> 
         </a>
    </div>
{% endblock content %}