{% extends "library_website/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="content-section">
    	<div class = "media">
    		<img class ="rounded-circle account-img" src="{{ user.profile.image.url }}">
    		<div class ="media-body">
    			<h2 class="account-heading">{{ user.first_name}} {{ user.last_name }} </h2>
    			<p class="text-secondary">{{ user.email }}</p>
    		</div>	
    	</div>

        <h2>Borrowed Books</h2>

        {% if bookinstance_list %}
            <ul>
              {% for bookinst in bookinstance_list %} 
              <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                <a href="{% url 'library-book_detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
              </li>
              {% endfor %}
              <br/>
            </ul>

        {% else %}
          <p>There are no books borrowed.</p>
        {% endif %}
        <br/> 

        <h2> Reviews Written</h2>
        {% if comment_list %}
            <ul>
              {% for commentinst in comment_list %} 
              <li>
                <a href="{% url 'library-book_detail' commentinst.book.pk %}">{{commentinst.book.title}}</a> 
                <p> <strong>Review:</strong> {{commentinst.comment}} </p>
                <p> <strong>Written on:</strong> {{commentinst.created_on}}</p>       
              </li>
              {% endfor %}
              <br/>
            </ul>

        {% else %}
          <p>You have not yet written any reviews on a book.</p>
        {% endif %}

    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		<fieldset class ="form-group">
    			<legend class ="border-bottom mb-4">Profile Info</legend>
    			{{ u_form|crispy }}
    			{{ p_form|crispy }}
    		</fieldset>
    		<div class="text-right">
    			<button class="btn btn-outline-info" type="submit"> Update </button>
    		</div>
    	</form>
    </div>
    <div class ="content-section">
        <h4> Manually Reset Your Password </h4>
         <a href="{% url 'password_reset' %}">
            <button class="btn btn-secondary" type="submit"> Reset </button> 
         </a>
    </div>
{% endblock content %}